<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    
  </head>
  <body>
    <%= yield %>
  </body>
</html>
